.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.thm
.fuse_hidden*
*.nav
*.toc
*.snm

preprint.pdf
paper.pdf
paper/preprint.pdf
paper/supplement.pdf
paper/paper.pdf
resources/levin2022-tex
resources/original-manuscript-tex
resources/oup-general-template

_addhealth
_analysis
_glasgow
_healthyminds
_misspecification
_reddit
_simulations

*.code-workspace
prelim
arxiv.tar.gz
